/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-08-2017, 19:15:55
    Author     : felesiah
*/


#container{
	width: 226px;
	height: 274px;
	border: 3px solid darkblue;
	margin: auto
}
.t1, .t4{
	border: 1px solid black;
	height: 48px;
	margin-left: 3px;
	margin-top: 3px;
	display: inline-block;
	text-align: center;
	line-height: 48px;
}
.t1{
	width: 48px;
}
.t4{
	width: 219px;
}


